<!DOCTYPE html>
<html>
<head>
    <title>Zoya Cloud</title>
</head>
<body>

<h1>Zoya Cloud 🚀</h1>

<button onclick="createServer()">Create Server</button>

<h2>Servers</h2>
<ul id="serverList"></ul>
<script>
async function loadServers() {
    const res = await fetch("/servers");
    const data = await res.json();

    const list = document.getElementById("serverList");
    list.innerHTML = "";

  data.servers.forEach(server => {
    const li = document.createElement("li");

    const text = document.createElement("span");
    text.textContent = server;

    const btn = document.createElement("button");
    btn.textContent = "Delete";
    btn.style.marginLeft = "10px";

    btn.onclick = async () => {
        const id = server.split(" ")[0];  // container id

        await fetch(`/delete-server/${id}`, {
            method: "DELETE"
        });

        loadServers(); // refresh list
    };

    li.appendChild(text);
    li.appendChild(btn);
    list.appendChild(li);
});
}


async function createServer() {
    const res = await fetch('/create-server', {
        method: 'POST'
    });

    const data = await res.json();
    alert("Container Created: " + data.container_id);

    loadServers();   // important ( auto refresh)
}

// page load  run

loadServers();
</script>

</body>
</html>